<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="t" class="org.springframework.example.batis.util.MyFactoryBean" >
		<property name="mapperInterface" value="org.springframework.example.batis.dao.TMapper"></property>
	</bean>

<!--	<bean id="a1" class="org.springframework.example.batis.util.MyFactoryBean" >-->
<!--		<property name="mapperInterface" value="org.springframework.example.batis.dao.AMapper"></property>-->
<!--	</bean>-->

</beans>