<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	 <!-- 静态工厂方法的例子  -->
<!--	 <bean id="a" class="org.springframework.example.statics.ObjectStaticFactory" factory-method="instanceObject">-->

<!--	 </bean>-->


	<!-- 实例工厂方法的例子  -->
<!--	<bean id="a" class="org.springframework.example.statics.A" factory-bean="objectFactory" factory-method="instanceObject">-->

<!--	</bean>-->
<!--	<bean id="objectFactory" class="org.springframework.example.statics.ObjectFactory">-->

<!--	</bean>-->

	<!-- 手动注入  -->
	<bean id="m" class="org.springframework.example.defaults.M" autowire="byType" >
<!--         <property name="n">-->
<!--			 <ref bean="n"></ref>-->
<!--		 </property>-->
    </bean>

	<bean id="n" class="org.springframework.example.defaults.N" >

	</bean>

</beans>